.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/greg-rosenke-3ULMRQZ5APA-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  font-family: "Abril Fatface";
  margin: 226px auto 0;
}

.u-section-1-1 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ScreenShot2021-03-17at11.59.57.png");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
  font-weight: 700;
  font-family: "Abril Fatface";
  margin: 464px 300px 0;
}

.u-section-1-2 .u-text-2 {
  width: 837px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 90px;
    margin-right: 90px;
  }

  .u-section-1-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-1-2 .u-text-2 {
    width: 340px;
  }
}.u-block-cbfc-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-cbfc-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-cbfc-4 {
  position: absolute;
  right: 0;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 433px;
}

.u-section-2 .u-text-1 {
  font-family: "Abril Fatface";
  width: 331px;
  margin: 86px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 49px 201px 60px 224px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: -259px;
    margin-right: 609px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: 714px;
    margin-top: 20px;
    margin-right: 226px;
    margin-left: 0;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 389px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -273px;
    margin-right: 209px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -239px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 {
  min-height: 793px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 793px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 172px auto 0;
}

.u-section-3 .u-text-1 {
  font-family: "Abril Fatface";
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-image-1 {
  min-height: 793px;
  pointer-events: auto;
  background-image: url("images/ScreenShot2021-03-17at9.05.33.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 654px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 654px;
  }

  .u-section-3 .u-image-1 {
    min-height: 654px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 501px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 501px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 852px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 609px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 573px;
  }

  .u-section-3 .u-image-1 {
    min-height: 473px;
  }
}.u-section-4 {
  min-height: 737px;
}

.u-section-4 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 82px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 716px;
  pointer-events: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 172px auto 0;
}

.u-section-4 .u-text-1 {
  font-family: "Abril Fatface";
  margin: 30px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-bottom: 0;
  padding: 0;
}

.u-section-4 .u-image-1 {
  min-height: 716px;
  pointer-events: auto;
  background-image: url("images/ScreenShot2021-03-17at9.05.33.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 622px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-4 .u-image-1 {
    min-height: 590px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 496px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 452px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 803px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-image-1 {
    min-height: 565px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 573px;
  }

  .u-section-4 .u-image-1 {
    min-height: 427px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 294px;
}.u-section-6 .u-sheet-1 {
  min-height: 918px;
}

.u-section-6 .u-text-1 {
  font-family: "Abril Fatface";
  margin: 57px 0 0;
}

.u-section-6 .u-slider-1 {
  width: 1065px;
  min-height: 707px;
  height: auto;
  margin: 57px 30px 19px auto;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: -13px auto 0;
}

.u-section-6 .u-text-2 {
  font-family: "Open Sans", sans-serif;
  margin: 25px auto 0;
}

.u-section-6 .u-image-1 {
  width: 585px;
  height: 333px;
  margin: 148px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: -18px auto 0;
}

.u-section-6 .u-text-3 {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  margin: 28px 14px 0 300px;
}

.u-section-6 .u-image-2 {
  width: 579px;
  height: 359px;
  margin: 134px auto 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 59px;
  height: 59px;
  left: -45px;
  position: absolute;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  width: 59px;
  height: 59px;
  left: auto;
  position: absolute;
  top: 330px;
  right: -42px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: 743px;
  }

  .u-section-6 .u-slider-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-6 .u-icon-2 {
    margin-top: -12px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-slider-1 {
    width: 720px;
  }

  .u-section-6 .u-image-1 {
    width: 601px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 56px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -45px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: 82px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 366px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    width: 520px;
    height: 306px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 146px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -135px;
  }

  .u-section-6 .u-image-2 {
    width: 520px;
    height: 322px;
    margin-top: 172px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 248px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    width: 320px;
    height: 188px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 178px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -167px;
  }

  .u-section-6 .u-image-2 {
    width: 320px;
    height: 198px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 168px;
}

.u-section-7 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 194px;
  min-width: 98px;
  white-space: nowrap;
  margin: 54px auto;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}